services:

  service-registry:
    image: hyder014/service-registry:latest
    build: ./ServiceRegistry
    container_name: service_registry
    ports:
      - "8761:8761"
    environment:
      SPRING_PROFILES_ACTIVE: default
      SERVER_PORT: 8761
      SERVICE_NAME: service-registry


  postgres_db:
    image: postgres:16
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Hyder@014
      POSTGRES_DB: studentdb
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data


  student-service:
    image: hyder014/student-service:latest
    build: ./StudentService
    container_name: student_service
    depends_on:
      - service-registry
      - postgres_db
    environment:
      SPRING_PROFILES_ACTIVE: default
      SERVER_PORT: 8081
      APP_NAME: student-service
      DB_HOST: postgres_db
      DB_PORT: 5432
      DB_NAME: studentdb
      DB_USERNAME: postgres
      DB_PASSWORD: Hyder@014
      EUREKA_HOST: service-registry
      EUREKA_PORT: 8761
    ports:
      - "8081:8081"


  auth-service:
    image: hyder014/auth-service:latest
    build: ./AuthService
    container_name: auth_service
    depends_on:
      - service-registry
    environment:
      SPRING_PROFILES_ACTIVE: default
      SERVER_PORT: 8090
      SERVICE_NAME: auth-service
      EUREKA_HOST: service-registry
      EUREKA_PORT: 8761
      STUDENT_SERVICE_URL: http://student-service:8081
    ports:
      - "8090:8090"

  api-gateway:
    image: hyder014/api-gateway:latest
    build: ./ApiGateway
    container_name: api_gateway
    depends_on:
      - service-registry
      - auth-service
      - student-service
    environment:
      SPRING_PROFILES_ACTIVE: default
      SERVER_PORT: 8080
      APP_NAME: api-gateway
      EUREKA_HOST: service-registry
      EUREKA_PORT: 8761
      FRONTEND_URL: http://localhost:3000
    ports:
      - "8080:8080"


volumes:
  pgdata:
