server:
  port: ${SERVER_PORT:8090}

spring:
  application:
    name: ${SERVICE_NAME:auth-service}

eureka:
  client:
    service-url:
      defaultZone: http://${EUREKA_HOST:localhost}:${EUREKA_PORT:8761}/eureka/
  instance:
    prefer-ip-address: true
    hostname: auth-service

# Feign is enabled via @EnableFeignClients in your main class
